/*
 * Single Post
 */
.site-content {
    .comment-navigation, .posts-navigation, .post-navigation {
        margin: 0 0 1.5em;
        overflow: hidden;
    }
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important;
}

.post-navigation {
    padding-top: 1.875rem;

    .nav-links {
        .nav-previous {
            float: left;
            width: 50%;
            a {
                &::before {
                    content: "\2190 ";
                }
            }
        }
        .nav-next {
            float: right;
            text-align: right;
            width: 50%;

            a {
                &::after {
                    content: " \2192";
                }
            }
        }

        .nav-previous a, .nav-next a {
            border: 1px solid #ddd;
            border-radius: 0.938rem;
            display: inline-block;
            padding: 0.313rem 0.875rem;
            text-decoration: none;
        }
    }
}