.image-blur {
    overflow: hidden;
    img {
        -webkit-filter: blur(30px);
        filter: blur(30px);
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-transition: all ease .3s;
        -o-transition: all ease .3s;
        transition: all ease .3s;
        &.lazyloaded {
            -webkit-filter: blur(0);
            filter: blur(0);
            -webkit-transition: all ease .3s;
            -o-transition: all ease .3s;
            transition: all ease .3s;
        }
    }
}