/*
 * Comments
 */
.comment-list {
    padding-left: 0;

    .comment {
        display: block;

        .comment-body {
            .pull-left {
                padding-right: 0.625rem;
            }

            .media-body {
                .media-body-wrap {
                    .comment-content {
                        &.card-block {
                            padding: 20px;
                        }
                    }
                }
            }
        }
    }
}