/*
 * Header
 */

/* Menu */
.sticky-header-top {
    margin-top: 88px;
}

.sticky-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* Hamburger Menu with animation */
.navbar-toggler {
    border: none;
    background: transparent !important;

    .icon-bar {
        width: 30px; 
        height: 2px;
        background-color: #fff;
        display: block;
        transition: all 0.2s;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .top-bar {
        @include hamburger-bar(top, '');
    }
    .middle-bar {
        @include hamburger-bar(middle, '');
    }
    .bottom-bar {
        @include hamburger-bar(bottom, '');
    }

    &.collapsed {
        .top-bar {
            @include hamburger-bar(top, 'collapse');
        }
        .middle-bar {
            @include hamburger-bar(middle, 'collapse');
        }
        .bottom-bar {
            @include hamburger-bar(bottom, 'collapse');
        }
    }
}

/* Active Links */
.navbar-nav{
    > .nav-item {
        margin: 0 15px;
    }
    .nav-item {
        .nav-link {
            color: $white;
        }
        &.current_page_item {
            background-color: $white;
            border-radius: 5px; 
            
            & >.nav-link {
                color: $black;
            }
        }
        &.dropdown {
            .dropdown-menu {
                .nav-link {
                    color: $black;
                }
            }
        }
    }
}

