/*
 * Overrides
 */

/*
 * Back to top
 */
.backtotop {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    opacity: 0.7;
    position: fixed;
    cursor: pointer;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: $black;
    
    &:hover {
        background-color: lighten($black, 12%);
    }
    svg {
        width: 56%;
    }
}