/* order */
.woocommerce {
    .woocommerce-customer-details {
        address {
            border: none;
        }
    }
}

@media (max-width: 992px) {
    .woocommerce {
        .woocommerce-order {
            .woocommerce-thankyou-order-details {
                position: relative;
                padding: 0;
    
                & > li {
                    float: none !important;
                    border-bottom: 1px dotted #e3e3e3 !important;
                    padding-top: 1.618em;
                    font-size: 0.8em !important;
                    border-right: none !important;
                    margin-right: unset !important;
                    padding-right: unset !important;
                }
            }
        }
    }
}

